.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

#picture{
 padding-left: 150px;
 padding-top: 50px;
 padding-bottom: 70px;
}

h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid lightgray; 
    line-height: 0.1em;
    
   
    ; 
    
 } 
 
 h2 span { 
     background:#fff; 
     padding:0 10px; 
 }

 .new{
    text-decoration: none;
    color: darkgray;
    font-size:large;
    font-weight: lighter;
 }

 #create{
    background-color: rgba(211, 211, 211, 0.685);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-left: 100px;
     }

 .forgot{
    text-decoration: none;
    padding:100px;
    margin: 20px;
 }

 .card-title{
    font-size: xx-large;
 }

 .h1{
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-top: 60px;
 }

 .bottom-links{
    text-decoration: none;
    margin: 20px;
    font-size: small;
 }

 .copy{
    font-size: small;
    margin: 40px;
    font-weight: light;
 }